body {
    background-color: rgb(55, 53, 53);
}

.paragrafo {
    font-size: 30px;
    color: white;
}
@media (max-width: 780px){
    .paragrafo{
        color: rgb(136, 136, 246);
        font-size: 20px;
    }
}

div {
    color: white;
    font-size: 30px;
}